<ion-header>
  <ion-toolbar>
    <ion-title>Robots y Libros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Verifica si hay elementos -->
  <ion-list *ngIf="items.length > 0">
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img [src]="item.robotImage" alt="Robot">
      </ion-thumbnail>
      <ion-label>{{ item.title }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- Mensaje de carga -->
  <div *ngIf="items.length === 0">
    Cargando datos...
  </div>
</ion-content>